@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: lightgray;
}

header {
    background-color: black;
    padding: 30px;
    text-align: center;
    color: white;
}

header > h1 {
    font-variant: small-caps;
    margin-bottom: 10px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(59, 59, 59);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.144);
    max-width: 400px;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}